doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Elasticsearch presentation

        link(rel='stylesheet', type='text/css', href='build/build.css')

    body

        article

            section
                img(src='http://devrates.com/project/logo/173' height='150')
                h1 Elasticsearch
                h3 You Know, for Search
                br
                br
                small Elasticsearch presentation 09/14 @ Web-Dev-BBQ Stuttgart/Germany

            section
                b Your flight captain for the next couple of minutes:
                br
                h2 Markus Wanjura
                br
                p Head of IT & Development&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> @ develop4edu GmbH Stuttgart
                    img.d4e-logo(src='http://d4e.io/D4E-Logo-Symbol-rand_schriftzug200x200.jpg' height='50')


            section
                h2 Let's start!

            section(data-bespoke-state='danger')
                h2 One of the most common requirement for a modern web application!
                h1 &#x25BE;
                h1 Search.

            section
                h2 Does the following dialog sound familiar to you?

            section
                h2 Customer:
                h3 I need a search for my shop?
                br
                h2 Me:
                h3 Easy! Let's use SQL!
                br
                pre
                    code.language-javascript.
                        SELECT * FROM produkt
                            WHERE titel LIKE '%foobar%'
                            ORDER BY price DESC
                            LIMIT 1000;

            section.gif.gif--happy
                h2 Me:

            section
                h2 Customer:
                br
                ul
                    li Can you handle <b>filters</b>?
                    li How about <b>fuzzy</b> search?
                    li I need <b>autocompletition</b>?
                    li Can you show <b>result counts</b> on filters?
                    li Marketing asked to <b>boost</b> that product XY for a while!
                    li What about <b>sorting</b> and <b>pagination</b>?
                    li I want a "<b>Did you mean?</b>" function.
                    li Does it <b>scale</b>?
                    li Ops team asked for <b>failover</b>, <b>replication</b> and <b>clustering</b>!
                    li It has to be <b>blazing fast</b>!
                    li Could you...


            section.gif.gif--mad(data-bespoke-state='anger')
                h2 Me: ...

            section
                h2 What kind of technology can handle that?

            section
                h1.bullet Lucene
                ul
                   li <b>formally:</b> Apache Lucene&trade;
                   li Open-source search engine.

            section
                h2 Do i want to integrate Lucene directly into my webapp?
                h3 And manage ALL by my self?

            section.gif.gif--no
                br
                br
                br
                br
                br
                br
                br
                br
                h1(style='position: absolute; left: 25px; top: 40px;') No!
                br
                b(style='position: absolute; left: 30px; top: 20px;') If you don't have to, you won't!

            section
                h3 Ok. Got it!
                h2 Is there an enterprise ready search server based on lucene?

            section
                h1 Elasticsearch
                h2 vs.
                h1 Apache Solr

            section
                h2 I'll keep this part short.
                p We used a Solr 3.x for a couple of year's. <br>It was a bit painful and slow development.
                p It woulnd't be fair to compare a Solr 3.x with an Elasticsearch 1.x.

            section
                h2 Solr 4.x and Elasticsearch 1.x are equal competitors
                br
                p In our infrastructure scaleability is key!<br>So we decided to move to Elasticsearch.
                br
                b Our evaluation keypoints were:

                ul.bullet
                    li Elasticsearch is the more modern and faster growing ecosystem
                    li It is designed to be distributed from the ground up
                    li Friendlier to teams which are used to REST APIs and JSON
                    li We already use Logstash+Kibana for webserver log aggregation<br><small>(with an index amount of hundrets of gigabyte)</small>
                    li Big scale portals like GitHub, XING, SoundCloud use it

            section
                h2 If your ecosystem supports Solr more and scaleability is not your biggest keypoint,
                h3 I think you'll be very happy with either Solr or Elasticsearch.
                br
                p You'll find a very good Feature Smackdown at <a href="http://solr-vs-elasticsearch.com/">http://solr-vs-elasticsearch.com/</a>

            section.gif.gif--jiggle
                h1 Let's move on
                h2 and have some fun with Elasticsearch.

            section
                h2 Local installation
                p (Mac)
                pre
                    code.language-javascript.
                      $ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
                      $ brew install elasticsearch
                      $ elasticsearch start
                br
                p (Windows untested)
                pre
                    code.language-javascript.
                      Download zip from elasticsearch.org...
                      c:\elasticsearch-{version}bin>service install
                      Installing service      :  "elasticsearch-service-x64"
                      Using JAVA_HOME (64-bit):  "c:\jvm\jdk1.7"
                      The service 'elasticsearch-service-x64' has been installed.
                br
                a http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/setup-service-win.html
            section
                h2 DONE!
                br
                h3 Open your browser with <a href="http://localhost:9200/">http://localhost:9200/</a>
                img(src='images/local-elastic.png' width='500' height='500')


            section.gif.gif--respect

            section
                h2 Put some data to our index
                pre
                    code.language-javascript.
                        curl -XPUT 'http://127.0.0.1:9200/blog/post/1' -d '{
                            "user": "mwanjura",
                            "postDate": "2014-09-10",
                            "body": "Search is hard. Search should be easy." ,
                            "title": "On search"
                        }'
                        curl -XPUT 'http://127.0.0.1:9200/blog/post/2' -d '{
                            "user": "mwanjura",
                            "postDate": "2014-08-12",
                            "body": "Distribution is hard. Distribution should be easy." ,
                            "title": "On distributed search"
                        }'
                        curl -XPUT 'http://127.0.0.1:9200/blog/post/3' -d '{
                            "user": "mwanjura",
                            "postDate": "2014-07-10",
                            "body": "We need a new search" ,
                            "title": "Better search"
                        }'

            section
                h2 Result
                p Index mapping is dynamically created for you
                pre
                    code.language-javascript.
                        {"_index":"blog","_type":"post","_id":"1","_version":1,"created":true}
                        {"_index":"blog","_type":"post","_id":"2","_version":1,"created":true}
                        {"_index":"blog","_type":"post","_id":"3","_version":1,"created":true}

            section
                h3 Index mapping
                pre
                    code.language-javascript.
                        curl -XGET 'http://127.0.0.1:9200/blog/_mapping?pretty=true'
                b Result
                pre
                    code.language-javascript.
                        {
                          "blog" : {
                            "mappings" : {
                              "post" : {
                                "properties" : {
                                  "body" : { "type" : "string" },
                                  "postDate" : { "type" : "date", "format" : "dateOptionalTime" },
                                  "title" : { "type" : "string" },
                                  "user" : { "type" : "string" }
                                }
                              }
                            }
                          }
                        }
            section
                h3 Get some specific data by id
                pre
                    code.language-javascript.
                        curl -XGET 'http://127.0.0.1:9200/blog/post/2?pretty=true'
                b Result
                pre
                    code.language-javascript.
                        {
                            "_index" : "blog",
                            "_type" : "post",
                            "_id" : "2",
                            "_version" : 1,
                            "found" : true,
                        }
                        "_source":{ "user": "mwanjura", "postDate": ...}

            section
                h3 Basic search by date
                pre
                    code.language-javascript.
                        curl -XGET 'http://127.0.0.1:9200/blog/_search?pretty=true' -d '
                        {
                            "query" : {
                                "range" : {
                                    "postDate" : { "from" : "2014-08-10", "to" : "2014-12-12" }
                                }
                            }
                        }'

            section
                h3 Result
                pre
                    code.language-javascript.
                        {
                          "took": 4,
                          "timed_out": false,
                          "_shards": {
                            "total": 15,
                            "successful": 15,
                            "failed": 0
                          },
                          "hits": {
                            "total": 2,
                            "max_score": 1,
                            "hits": [
                              {
                                "_index": "blog",
                                "_type": "post",
                                "_id": "1",
                                "_score": 1,
                                "_source": {
                                  "user": "mwanjura",
                                  "postDate": "2014-09-10",
                                  "body": "Search is hard. Search should be easy.",
                                  "title": "On search"
                                }
                              },
                              {
                                "_index": "blog",
                                "_type": "post",
                                "_id": "2",
                                "_score": 1,
                                "_source": {
                                  "user": "mwanjura",
                                  "postDate": "2014-08-12",
                                  "body": "Distribution is hard. Distribution should be easy.",
                                  "title": "On distributed search"
                                }
                              }
                            ]
                          }
                        }

            section
                h2 GUI's
                br
                p You don't want to use curl on terminal the whole time?
                br
                a http://elastichammer.exploringelasticsearch.com/
                br
                img(src='images/elastichammer.png' width='500' height='500')

            section
                h2 Fork me!
                h3 And have some instant fun<br> with Elasticsearch and AngularJS
                p <a href="https://github.com/mwanjura/elasticsearch-demo" target="_blank">https://github.com/mwanjura/elasticsearch-demo</a>

            section
                h2 Fragen?

            section
                h2 THANK YOU
                img(src='http://www.esponce.com/create/download/output-normal.png?sid=032ee78af095495ba2ae354a915489ab' width='200')
                a(href="https://github.com/mwanjura/elasticsearch-presentation") github.com/mwanjura/elasticsearch-presentation

        script(src='build/build.js')